body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    margin: 0;
    padding: 10px;
    background-color: beige;
    

}


.content {
    background: lightgray;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background-color: white;
    padding: 10px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.5px;
    box-sizing: border-box;
    box-shadow: 10px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 0.5px;
}

.title {
    font-family: "orbitron", sans-serif;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-top: 16px;
    background-color: burlywood;
    padding: 10px 10px;
    border-radius: 10px;
}